html, body {
  font-family: 'GidoleRegular';
  margin: 0px;
  padding: 0px;
}

body > h1 {
  font-size: 5em;
  text-align: center;
  padding: 2em;
  background: #009A00;
  color: white;
  margin: 0px;
  letter-spacing: 1em;
  text-transform: uppercase;
}

h1, h2, h3, h4 {
  font-family: 'JelleeRoman';
  font-weight: normal;
  font-style: normal;
}

a, a:visited {
  color: #009A00;
  text-decoration: none;
}

main {
  padding: 20px 150px;
}

li {
  line-height: 1.5em;
}